<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestión de Contactos{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="{{ asset('bundles/miwpractica/css/estilo.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block logout%}
            <div class="row">
                <a class="btn btn-primary pull-right" href="{{path('fos_user_security_logout')}}"><i class="fa fa-power-off"></i>Salir</a>
            </div>
            {% endblock %}
            <div class="row">
                {% block body %}{% endblock %}
            </div>                   
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
